/* Universal Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 20%;
    height: fit-content;
}

/* Navigation */
ul.crumbs {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;

}

.crumb {
    background-color: whitesmoke;
    color: gray;
    white-space: nowrap;
    border: 2px double gray;
    padding: 15px 4rem;
    border-radius: 8px;
}

li.crumb:hover {
    background-color: gray;
    color: #fff;
    transition: color .2s ease-in;
}

a {
    text-decoration: none;
}

a:hover,
a:visited,
a:active,
a:link {
    color: inherit;
}

:root {
    --bs-dark: #212529;
}

.theme-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.theme-container:hover {
    opacity: 0.8;
}

.shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 23px #1a1d20,
        -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
        inset -5px -5px 4px #24282c;
}

.shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
        inset 7px 7px 3px rgba(209, 217, 230, 0.35),
        inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

.change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
}

.sidebar {
    background-color: whitesmoke;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 1px;
    bottom: 1px;
    border: 3px double darkgrey;
    padding: 20px;
    margin: 0;
    width: 14%;
    height: 100%;
}

.sidebar-item {
    margin: 10px;
    padding: 1rem;
}

.sidebar-item:hover {
    background-color: gray;
    color: #fff;
    text-decoration: underline;
    transition: color .2s ease-in;
}


/* Main  Content */

section.container {
    border: 2px solid #a2a2a6;
    margin: 10px auto;
}

div.color-container {
    width: 100%;
    margin: auto;
}

div.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    min-height: 100px;
}


div.cool-blue {
    background-color: #2d5dcc;
    color: #fff;
}

div.pink {
    background-color: #d957d9;
    color: #fff;
}

div.mint-green {
    background-color: #4fe0b0;
    color: #fff;
}

div.beige {
    background-color: #efd9ca;
    color: chocolate;
}

div.dark-red {
    background-color: #8B0000;
    color: #fff;
}

div.coral {
    background-color: #FF7F50;
    color: #fff;
}

div.font-panel {
    width: 45%;
    display: inline-block;
}

p.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 14px;
}

.button-panel {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.button-title {
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: auto;
}

.outlined {
    background-color: whitesmoke;
    color: darkred;
    border: 1px solid maroon;
    border-radius: 8px;
    padding: 2rem 4rem;
    cursor: pointer;
}

.outlined:hover {
    background-color: darkred;
    color: #fff;
    border-color: red;
    transition: color .2s ease-in;
}


.filled {
    background-color: rgb(31, 177, 20);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 2rem 4rem;
    cursor: pointer;
}

.filled:hover {
    background-color: rgb(16, 98, 10);
    transition: color .2s ease-in;
}

.animated {
    padding: 25px 4rem;
    color: white;
    background-color: purple;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 8px;
    box-shadow: 0 10px rgb(68, 43, 68);
}

.animated:active {
    background-color: #8842d5;
    box-shadow: 0 6px rgb(56, 1, 57);
    transform: translateY(5px);
}

.panel-title {
    background: whitesmoke;
    margin: 0;
    padding: 10px;
}

/* Footer */


footer {
    text-align: center;
    font-size: 16px;
}

a.back-button {
    position: fixed;
    right: 2vh;
    bottom: 2vh;
    background-color: whitesmoke;
    color: gray;
    padding: 1rem;
    border: 2px double gray;
    border-radius: 8px;
}



a.back-button:hover,
a.back-button:active {
    background-color: gray;
    color: #fff;
    transition: color .2s ease-in;
}
